Repository apache/flink-connector-cassandra, pull requests merged in 2023-04, with the labels that each got.

#6 [FLINK-31739][ci] Reuse ci.yml in flink-connector-shared-utils.
  .github/workflows/ci.yml
  .github/workflows/push_pr.yml
  .github/workflows/weekly.yml
Labels: component=BuildSystem

#9 [FLINK-31698][BP] Support both Flink 1.16 and Flink 1.17 to resolve failing nightly builds
  .github/workflows/push_pr.yml
  flink-connector-cassandra/pom.xml
  flink-connector-cassandra/src/test/resources/archunit.properties
  pom.xml
Labels: component=BuildSystem, component=Connectors/Cassandra

#8 [FLINK-28198] Integrate tests with CassandraTestEnvironment which manages the cassandra cluster container, session, retrials and timeouts. Cleaning
  flink-connector-cassandra/src/test/java/org/apache/flink/connector/cassandra/CassandraTestEnvironment.java
  flink-connector-cassandra/src/test/java/org/apache/flink/connector/cassandra/source/CassandraSourceITCase.java
  flink-connector-cassandra/src/test/java/org/apache/flink/connector/cassandra/source/CassandraTestContext.java
  flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
Labels: component=Connectors/Cassandra

#11 [FLINK-31805] Avoid non-public APIs
  flink-connector-cassandra/src/main/java/org/apache/flink/connector/cassandra/source/enumerator/CassandraEnumeratorStateSerializer.java
Labels: component=Connectors/Cassandra

#12 [FLINK-31807] Include all test code in architecture tests
  flink-connector-cassandra/archunit-violations/dc1ba6f4-3d84-498c-a085-e02ba5936201
  flink-connector-cassandra/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
Labels: component=Connectors/Cassandra
